table {
    border-collapse: collapse;
    border: 1px solid #03476F;
    font: normal 11px verdana, arial, helvetica, sans-serif;
    color: #363636;
    background: #92C428;
}

caption {
    text-align: center;
    font: bold 14px arial, helvetica, sans-serif;
    background: transparent;
    padding: 6px 4px 8px 0px;
    color: #03476F;
    text-transform: uppercase;
}

td,
th {
    border: 1px dotted #03476F;
    padding: .4em;
    color: #363636;
}

thead th {
    font: bold 11px verdana, arial, helvetica, sans-serif;
    border: 1px solid #03476F;
    ;
    text-align: left;
    background: #4591AD;
    color: #FFFFFF;
    padding-top: 3px;
}

tfoot td {
    border: 1px solid #03476F;
    text-align: center;
    background: #4591AD;
    padding-top: 3px;
    color: #FFFFFF;
}

tbody td {
    vertical-align: top;
    text-align: left;
}

tr.fimpar {
    background: #AEE239;
}

tr.rojo {
    background: #FF0000;
}

tbody tr:hover {
    background: #FFD800;
    border: 1px solid #03476F;
    color: #FFFFFF;
}

tbody td a:link,
tbody td a:visited {
    background: transparent;
    text-decoration: none;
    color: #363636;
}

tbody td a:hover,
tbody td a:active {
    background: #C2F64D;
    color: #363636;
}